<!doctype html>

<html>
<head>
<!-- Google Analytics Content Experiment code -->
<script>function utmx_section(){}function utmx(){}(function(){var
k='170943927-1',d=document,l=d.location,c=d.cookie;
if(l.search.indexOf('utm_expid='+k)>0)return;
function f(n){if(c){var i=c.indexOf(n+'=');if(i>-1){var j=c.
indexOf(';',i);return escape(c.substring(i+n.length+1,j<0?c.
length:j))}}}var x=f('__utmx'),xx=f('__utmxx'),h=l.hash;d.write(
'<sc'+'ript src="'+'http'+(l.protocol=='https:'?'s://ssl':
'://www')+'.google-analytics.com/ga_exp.js?'+'utmxkey='+k+
'&utmx='+(x?x:'')+'&utmxx='+(xx?xx:'')+'&utmxtime='+new Date().
valueOf()+(h?'&utmxhash='+escape(h.substr(1)):'')+
'" type="text/javascript" charset="utf-8"><\/sc'+'ript>')})();
</script><script>utmx('url','A/B');</script>
<!-- End of Google Analytics Content Experiment code -->

	<title>Calendar</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="css/navbar.css" rel="stylesheet">
	<link href="css/calendar.css" rel="stylesheet">
	<!--<link href="css/bootstrap.css" rel="stylesheet">-->

	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Inconsolata|Krona+One" rel="stylesheet">





	<script defer src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script>
	<script src="js/burgermenu.js"> </script>
	
	


</head>
<body>
	
<nav class="navbar fixed-top navbar-expand bg-faded navbar-light" style="border-bottom: 1px solid gray">
<div class="top">
	<a href="#" class="menu_icon"><i class="material-icons">dehaze</i></a>
</div>




  <div class="input-group mb-3">
  <form class="form-inline" method="get" action="/calendardate">
    <input class="form-control mr-sm-2" id='datePicker' type="date" name="viewdate" style="width:auto;font-size: 1.3rem">
    <div class="input-group-prepend">
    <button class="btn btn-success" type="submit" style="background-color:rgb(60, 178, 200); border-color:rgb(60, 178, 200); margin-left:10px">Go</button>
	</div>
  </form>
  </div>

  

</nav>

<nav class="menu" id="hamburger-pullout">
		<a href="/calendar2" class="active item_menu"><i class="fas fa-calendar-alt"  style="font-size: 16px; margin-right:5px"></i> Calendar</a>
		<a href="/graph" class="item_menu"><i class="fas fa-chart-pie  item_menu"  style="font-size: 16px; margin-right:5px"></i> Your Activity</a>
		<a href="/settings" class="item_menu"><i class="fas fa-cog  item_menu"  style="font-size: 16px; margin-right:5px"></i> Settings</a>
		<a href="/addevent" class="item_menu"><i class="fas fa-plus-square  item_menu"  style="font-size: 16px; margin-right:5px"></i> Add Event</a>
</nav>





	
			<a href="/addevent"><i id="add-event-button" class="fas fa-plus-circle  item_menu"  style="font-size: 52px"></i></a>
	


		<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

		
		<p id="centerMsg">No Events Added Today<br><i id="calendar-icon" class="fas fa-calendar-alt"></i></p>
	

	<script type="text/javascript">
		var decodedJson = decodeURIComponent("{{{encodedJson}}}");
		var jsonObj = JSON.parse(decodedJson);
		console.log(jsonObj);
		var eventsArray = jsonObj; 
		/*var date = new Date(eventsArray[0]);
		
		var d = date.getDate();

		var mm = date.getMonth()+1;
		var y = date.getFullYear();
		if(d<10)
			d='0'+d;
		if(mm<10)
			mm='0'+mm;

		var today = y+'-'+mm+'-'+d;*/

		document.getElementById('datePicker').defaultValue = eventsArray[0];

		//console.log(jsonObj.accounts);
		//console.log(jsonObj.accounts.0);
		//var localdata = "{{accounts.0.events}}";

		console.log("eventsArray.length="+eventsArray.length)

		for(var x=1; x<eventsArray.length; x++){

				document.getElementById("centerMsg").style.display="none";
				var eve = eventsArray[x]
				
				var div = document.createElement("div");
				div.classList.add("card");
				div.classList.add("mb-3");
				div.classList.add("eventCard");
				div.innerHTML = 
					'<div class="card-header">'+ eventsArray[x].timestart + ' - '+eventsArray[x].timeend+
					'</div> <div class = "card-body"> <h5 class="card-title">'+eventsArray[x].name+
					'</h5> <p class="card-text">Category: '+eve.category.name+'</p> </div>';

				
				var color = eve['category']['color'];				/*
				if(eve.category == "Work")
					color = "linear-gradient(#abdcff, #0396ff)";
				if(eve.category == "Exercise")
					color = "linear-gradient(#fccf31, #f55555)";
				if(eve.category == "Sleep")
					color = "linear-gradient(#81fbb8, #28c76f)";*/

				div.style.color = "white";
				div.style.background = color;
				document.body.appendChild(div);


		}


		
		// if(eventsArray.length==1){
		// 	var middleDiv = document.createElement("div");
		// 	middleDiv.classList.add("middleDiv");
		// 	// middleDiv.style.width = "800px";
		// 	// middleDiv.style.margin = "0 auto";
		// 	// middleDiv.style.backgroundColor = "red";

		// 	middleDiv.innerHTML = "<div class='emptyMsg'><h1>No Events Added for This Day</h1></div>";
		// 	document.body.appendChild(middleDiv);
		// }
		

	</script>
<!--
		{{#each accounts.0.events}}
		<script>console.log("event going in");</script>

		<div class="card mb-3">
				<div class="card-header"> {{timestart}} - {{timeend}}
				</div>
				<div class = "card=body">
					<h5 class="card=title">{{name}}</h5>
					<p class="card=text">insert more info here</p>
				</div>

		{{/each}}
-->




		<!-- TODO: option to click on events to edit -->
		<script>
		$("div.eventCard").click(function(event){
			event.preventDefault();
			eventsArray[x].timestart
			eventsArray[x].timeend
			//get timestart, timeend, and name
			//somehow put this into the json file by editing in the spots instead of pushing all the data
			/*alert("this event was clicked.  Edit page coming soon");*/
		});

		</script>




<!-- Global site tag (gtag.js) - Google Analytics -->
	<script>
	(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
		(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o), m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)})(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
		ga('create', 'UA-115181899-1', 'auto');
		ga('send', 'pageview');
	</script>
<script>
$(document).ready(function() {
	initializePage();
});

/*
 * Function that is called when the document is ready.
 */
function initializePage() {
	// your code here
	$("#add-event-button").click(callAnalytics);
}

function callAnalytics(e) {
	ga("send", "event", "addevent1", "click");
}
</script>

</body>


</html>