<!doctype html>

<html>
<head>
	<title>Calendar</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="css/navbar.css" rel="stylesheet">
	<link href="css/calendar.css" rel="stylesheet">
	<!--<link href="css/bootstrap.css" rel="stylesheet">-->

	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

	<script defer src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script>
	
	<script>
		function time(){
			var today = new Date();
			var mo = today.getMonth();
			var d = today.getDate();
			var day = today.getDay();
			var h = today.getHours();
			var m = today.getMinutes();
			var mm = today.getMonth()+1;
			var y = today.getFullYear();

			var dayoftheweek= new Array(7);
			dayoftheweek[0] = "Sunday";
			dayoftheweek[1] = "Monday";
			dayoftheweek[2] = "Tuesday";
			dayoftheweek[3] = "Wednesday";
			dayoftheweek[4] = "Thursday";
			dayoftheweek[5] = "Friday";
			dayoftheweek[6] = "Saturday";
			day = dayoftheweek[day];

			var month= new Array(12);
			month[0] = "January";
			month[1] = "February";
			month[2] = "March";
			month[3] = "April";
			month[4] = "May";
			month[5] = "June";
			month[6] = "July";
			month[7] = "August";
			month[8] = "September";
			month[9] = "October";
			month[10] = "November";
			month[11] = "December";
			mo = month[mo];

			//document.getElementById("day").innerHTML=day;
			//document.getElementById("month").innerHTML=mo;
			//document.getElementById("date").innerHTML=d;
			if(d<10)
				d='0'+d;
			if(mm<10)
				mm='0'+mm;

			var today = y+'-'+mm+'-'+d;
			document.getElementById('datePicker').defaultValue = today;


		};
	</script>


</head>
<body style="padding-bottom:50px">
	<!--
	<nav class="navbar navbar-inverse">
		<div class="container-fluid">
	    	<div class="navbar-header">
	    		<a class="navbar-brand" href="#">WebSiteName</a>
	    	</div>
	    	<ul class="nav navbar-nav">
	    		<li class="active"><a href="#">Home</a></li>
	    		<li><a href="#">Page 1</a></li>
	      		<li><a href="#">Page 2</a></li>
	      		<li><a href="#">Page 3</a></li>
	    	</ul>
	  </div>
	</nav>-->
	<!--
	<div class="navbar bootstrap-override2">
		<p id="day"></p>
		<select name="month" id="changemonth">
			<option value="100">January</option>
			<option value="200">February</option>
			<option value="300">March</option>
			<option value="400">April</option>
			<option value="500">May</option>
			<option value="600">June</option>
			<option value="700">July</option>
			<option value="800">August</option>
			<option value="900">September</option>
			<option value="1000">October</option>
			<option value="1100">November</option>
			<option value="1200">December</option>
        </select>
        <select name="date" id="changedate">
        	<option

 	</div>
-->
<nav class="navbar fixed-top navbar-expand-sm bg-dark navbar-dark">
	  <span class="navbar-text" id="day"></span>
  <form class="form-inline" method="get" action="/calendardate">

    <input class="form-control mr-sm-2" id='datePicker' type="date" name="viewdate">
    <button class="btn btn-success" type="submit">Go</button>
  </form>
</nav>

	<div class="navbad bootstrap-override">
		<a href="/calendar" class="active"><i class="fas fa-calendar-alt"  style="font-size: 16px"></i><br>Calendar</a>
		<a href="/graph"><i class="fas fa-chart-pie"  style="font-size: 16px"></i><br>Your Activity</a>
		<a href="/settings"><i class="fas fa-cog"  style="font-size: 16px"></i><br>Settings</a>
		<a href="/addevent"><i class="fas fa-plus-square"  style="font-size: 16px"></i><br>Add Event</a>
	</div>

<!--
	<div class="month"> 
  		<ul>
    		<li class="add">
    			<div id="add-button">
    				<i  style="font-size: 50px;" class="fas fa-plus-square"></i>
    			</div>
    		</li>
    		<li id="month"><br></li>
  		</ul>
  	-->
	
<!--
<div id="dp" height="90%"></div>
<script type="text/javascript">
	var dp = new DayPilot.Calendar("dp");
	dp.viewType = "Day";
	dp.init();
	dp.events.list = [{"id":"1", "text":"Event", "start":"2018-02-14T10:30:00", "end":"2018-02-14T12:30:00"}];
	dp.update();
</script>
-->
<!-- Calendar elements  -->
<!--
	<table style="width:100%; border:none; " >
		
		<tr height="100">
			<th style="width:25%">
				<h1 id="day"></h1>
			</th>
			<td style="width:15%; border:none">
				<h1 id="date"></h1>
			</td>
			<td style="width:60%; border:none">
				<h1 id="date"></h1>
			</td>
		</tr>

	</table>
-->

<!--	<div class="content">
		<table style="width:100%; height:50%; position: relative" >
		<tr class="zero">
			<th rowspan="4">12AM</th>
			<td>:00</td>
			<td id="0"></td>
		</tr>
		<tr class="quarter"  >
			<td >:15</td>
			<td id="1"></td>
		</tr>
		<tr class="half">
			<td>:30</td>
			<td id="2"></td>
		</tr>
		<tr class="fourfive">
			<td>:45</td>
			<td id="3"></td>
		</tr>

		<tr class="zero" >
			<th rowspan="4">1AM</th>
			<td >:00</td>
			<td id="4"></td>
		</tr>
		<tr class="quarter">
			<td >:15</td>
			<td id="5"></td>
		</tr>
		<tr class="half">
			<td>:30</td>
			<td id="6"></td>
		</tr>
		<tr>
			<td>:45</td>
			<td id="7"></td>
		</tr>

		<tr class="zero">
			<th rowspan="4">2AM</th>
			<td>:00</td>
			<td id="8"></td>
		</tr>
		<tr class="quarter">
			<td>:15</td>
			<td id="9"></td>
		</tr>
		<tr class="half">
			<td>:30</td>
			<td id="10"></td>
		</tr>
		<tr>
			<td>:45</td>
			<td id="11"></td>
		</tr>

		<tr class="zero" >
			<th rowspan="4">3AM</th>
			<td >:00</td>
			<td id="12"></td>
		</tr>
		<tr class="quarter">
			<td >:15</td>
			<td id="13"></td>
		</tr>
		<tr class="half">
			<td>:30</td>
			<td id="14"></td>
		</tr>
		<tr>
			<td>:45</td>
			<td id="15"></td>
		</tr>

		<tr class="zero" >
			<th rowspan="4">4AM</th>
			<td >:00</td>
			<td id="16"></td>
		</tr>
		<tr class="quarter">
			<td >:15</td>
			<td id="17"></td>
		</tr>
		<tr class="half">
			<td>:30</td>
			<td id="18"></td>
		</tr>
		<tr>
			<td>:45</td>
			<td id="19"></td>
		</tr>

		<tr class="zero" >
			<th rowspan="4">5AM</th>
			<td >:00</td>
			<td id="20"></td>
		</tr>
		<tr class="quarter">
			<td >:15</td>
			<td id="21"></td>
		</tr>
		<tr class="half">
			<td>:30</td>
			<td id="22"></td>
		</tr>
		<tr>
			<td>:45</td>
			<td id="23"></td>
		</tr>

		<tr class="zero" >
			<th rowspan="4">6AM</th>
			<td >:00</td>
			<td id="24"></td>
		</tr>
		<tr class="quarter">
			<td >:15</td>
			<td id="25"></td>
		</tr>
		<tr class="half">
			<td>:30</td>
			<td id="26"></td>
		</tr>
		<tr>
			<td>:45</td>
			<td id="27"></td>
		</tr>

		<tr class="zero" >
			<th rowspan="4">7AM</th>
			<td >:00</td>
			<td id="28"></td>
		</tr>
		<tr class="quarter">
			<td >:15</td>
			<td id="29"></td>
		</tr>
		<tr class="half">
			<td>:30</td>
			<td id="30"></td>
		</tr>
		<tr>
			<td>:45</td>
			<td id="31"></td>
		</tr>

		<tr class="zero" >
			<th rowspan="4">8AM</th>
			<td >:00</td>
			<td id="32"></td>
		</tr>
		<tr class="quarter">
			<td >:15</td>
			<td id="33"></td>
		</tr>
		<tr class="half">
			<td>:30</td>
			<td id="34"></td>
		</tr>
		<tr>
			<td>:45</td>
			<td id="35"></td>
		</tr>

		<tr class="zero" >
			<th rowspan="4">9AM</th>
			<td >:00</td>
			<td id="36"></td>
		</tr>
		<tr class="quarter">
			<td >:15</td>
			<td id="37"></td>
		</tr>
		<tr class="half">
			<td>:30</td>
			<td id="38"></td>
		</tr>
		<tr>
			<td>:45</td>
			<td id="39"></td>
		</tr>

		<tr class="zero" >
			<th rowspan="4">10AM</th>
			<td >:00</td>
			<td id="40"></td>
		</tr>
		<tr class="quarter">
			<td >:15</td>
			<td id="41"></td>
		</tr>
		<tr class="half">
			<td>:30</td>
			<td id="42"></td>
		</tr>
		<tr>
			<td>:45</td>
			<td id="43"></td>
		</tr>
	
		<tr class="zero" >
			<th rowspan="4">11AM</th>
			<td >:00</td>
			<td id="44"></td>
		</tr>
		<tr class="quarter">
			<td >:15</td>
			<td id="45"></td>
		</tr>
		<tr class="half">
			<td>:30</td>
			<td id="46"></td>
		</tr>
		<tr>
			<td>:45</td>
			<td id="47"></td>
		</tr>

		<tr class="zero" >
			<th rowspan="4">12PM</th>
			<td >:00</td>
			<td id="48"></td>
		</tr>
		<tr class="quarter">
			<td >:15</td>
			<td id="49"></td>
		</tr>
		<tr class="half">
			<td>:30</td>
			<td id="50"></td>
		</tr>
		<tr>
			<td>:45</td>
			<td id="51"></td>
		</tr>

		<tr class="zero" >
			<th rowspan="4">1PM</th>
			<td >:00</td>
			<td id="52"></td>
		</tr>
		<tr class="quarter">
			<td >:15</td>
			<td id="53"></td>
		</tr>
		<tr class="half">
			<td>:30</td>
			<td id="54"></td>
		</tr>
		<tr>
			<td>:45</td>
			<td id="55"></td>
		</tr>

		<tr class="zero" >
			<th rowspan="4">2PM</th>
			<td >:00</td>
			<td id="56"></td>
		</tr>
		<tr class="quarter">
			<td >:15</td>
			<td id="57"></td>
		</tr>
		<tr class="half">
			<td>:30</td>
			<td id="58"></td>
		</tr>
		<tr>
			<td>:45</td>
			<td id="59"></td>
		</tr>

		<tr class="zero" >
			<th rowspan="4">3PM</th>
			<td >:00</td>
			<td id="60"></td>
		</tr>
		<tr class="quarter">
			<td >:15</td>
			<td id="61"></td>
		</tr>
		<tr class="half">
			<td>:30</td>
			<td id="62"></td>
		</tr>
		<tr>
			<td>:45</td>
			<td id="63"></td>
		</tr>

		<tr class="zero" >
			<th rowspan="4">4PM</th>
			<td >:00</td>
			<td id="64"></td>
		</tr>
		<tr class="quarter">
			<td >:15</td>
			<td id="65"></td>
		</tr>
		<tr class="half">
			<td>:30</td>
			<td id="66"></td>
		</tr>
		<tr>
			<td>:45</td>
			<td id="67"></td>
		</tr>

		<tr class="zero" >
			<th rowspan="4">5PM</th>
			<td >:00</td>
			<td id="68"></td>
		</tr>
		<tr class="quarter">
			<td >:15</td>
			<td id="69"></td>
		</tr>
		<tr class="half">
			<td>:30</td>
			<td id="70"></td>
		</tr>
		<tr>
			<td>:45</td>
			<td id="71"></td>
		</tr>

		<tr class="zero" >
			<th rowspan="4">6PM</th>
			<td >:00</td>
			<td id="72"></td>
		</tr>
		<tr class="quarter">
			<td >:15</td>
			<td id="73"></td>
		</tr>
		<tr class="half">
			<td>:30</td>
			<td id="74"></td>
		</tr>
		<tr>
			<td>:45</td>
			<td id="75"></td>
		</tr>

		<tr class="zero" >
			<th rowspan="4">7PM</th>
			<td >:00</td>
			<td id="76"></td>
		</tr>
		<tr class="quarter">
			<td >:15</td>
			<td id="77"></td>
		</tr>
		<tr class="half">
			<td>:30</td>
			<td id="78"></td>
		</tr>
		<tr>
			<td>:45</td>
			<td id="79"></td>
		</tr>

		<tr class="zero" >
			<th rowspan="4">8PM</th>
			<td >:00</td>
			<td id="80"></td>
		</tr>
		<tr class="quarter">
			<td >:15</td>
			<td id="81"></td>
		</tr>
		<tr class="half">
			<td>:30</td>
			<td id="82"></td>
		</tr>
		<tr>
			<td>:45</td>
			<td id="83"></td>
		</tr>

		<tr class="zero" >
			<th rowspan="4">9PM</th>
			<td >:00</td>
			<td id="84"></td>
		</tr>
		<tr class="quarter">
			<td >:15</td>
			<td id="85"></td>
		</tr>
		<tr class="half">
			<td>:30</td>
			<td id="86"></td>
		</tr>
		<tr>
			<td>:45</td>
			<td id="87"></td>
		</tr>

		<tr class="zero" >
			<th rowspan="4">10PM</th>
			<td >:00</td>
			<td id="88"></td>
		</tr>
		<tr class="quarter">
			<td >:15</td>
			<td id="89"></td>
		</tr>
		<tr class="half">
			<td>:30</td>
			<td id="90"></td>
		</tr>
		<tr>
			<td>:45</td>
			<td id="91"></td>
		</tr>

		<tr class="zero" >
			<th rowspan="4">11PM</th>
			<td >:00</td>
			<td id="92"></td>
		</tr>
		<tr class="quarter">
			<td >:15</td>
			<td id="93"></td>
		</tr>
		<tr class="half">
			<td>:30</td>
			<td id="94"></td>
		</tr>
		<tr>
			<td>:45</td>
			<td id="95"></td>
		</tr>
	</table>  

</div>

-->
	{{#each accounts.0.events}}
	<!--	<p>name: {{name}}</p>
		<p>id start: {{timestart}}</p>
		<p>id end: {{timeend}}</p> -->	
		<script>
			console.log("this is the timestart being called in javascript"+ {{timestart}});
			//document.getElementByID({{timestart}}).style.background-color="red";
			
		</script>
	
	{{/each}}





<!--
	<script src="/js/jquery-1.11.0.js"></script>
	<script src="/js/bootstrap.js"></script>-->
	<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

	<script type="text/javascript">
		var decodedJson = decodeURIComponent("{{{encodedJson}}}");
		var jsonObj = JSON.parse(decodedJson);
		console.log(jsonObj);
		var eventsArray = jsonObj; 
		var date = new Date(eventsArray[0]);
		var tod = new Date();
		var d = 0;
		if (date.getDate() == new Date().getDate())
			d = date.getDate();
		else
			d = date.getDate()+1;
		var mm = date.getMonth()+1;
		var y = date.getFullYear();
		if(d<10)
			d='0'+d;
		if(mm<10)
			mm='0'+mm;

		var today = y+'-'+mm+'-'+d;
		document.getElementById('datePicker').defaultValue = today;
		//console.log(jsonObj.accounts);
		//console.log(jsonObj.accounts.0);
		//var localdata = "{{accounts.0.events}}";

		for(var x=1; x<eventsArray.length; x++){
				var eve = eventsArray[x]
				
				var div = document.createElement("div");
				div.classList.add("card");
				div.classList.add("mb-3");
				div.classList.add("eventCard");
				div.innerHTML = 
					'<div class="card-header">'+ eventsArray[x].timestart + ' - '+eventsArray[x].timeend+
					'</div> <div class = "card-body"> <h5 class="card-title">'+eventsArray[x].name+
					'</h5> <p class="card-text">Category: '+eve.category+'</p> </div>';

				
				var color;
				if(eve.category == "Work")
					color = "linear-gradient(#abdcff, #0396ff)";
				if(eve.category == "Exercise")
					color = "linear-gradient(#fccf31, #f55555)";
				if(eve.category == "Sleep")
					color = "linear-gradient(#81fbb8, #28c76f)";

				div.style.color = "white";
				div.style.background = color;
				document.body.appendChild(div);


		}

	</script>
<!--
		{{#each accounts.0.events}}
		<script>console.log("event going in");</script>

		<div class="card mb-3">
				<div class="card-header"> {{timestart}} - {{timeend}}
				</div>
				<div class = "card=body">
					<h5 class="card=title">{{name}}</h5>
					<p class="card=text">insert more info here</p>
				</div>

		{{/each}}
-->




		<!-- TODO: option to click on events to edit -->
		<script>
		$("div.eventCard").click(function(event){
			event.preventDefault();
			alert("this event was clicked.  Edit page coming soon");
		});

		</script>
</body>
</html>
