<!doctype html>

<html>
<head>
	<title>Calendar</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="css/navbar.css" rel="stylesheet">
	<link href="css/calendar.css" rel="stylesheet">
	<link href="css/bootstrap.css" rel="stylesheet">

	
	<script>
		function time(){
			var today = new Date();
			var mo = today.getMonth();
			var d = today.getDate();
			var day = today.getDay();
			var h = today.getHours();
			var m = today.getMinutes();

			var dayoftheweek= new Array(7);
			dayoftheweek[0] = "Sun";
			dayoftheweek[1] = "Mon";
			dayoftheweek[2] = "Tue";
			dayoftheweek[3] = "Wed";
			dayoftheweek[4] = "Thu";
			dayoftheweek[5] = "Fri";
			dayoftheweek[6] = "Sat";
			day = dayoftheweek[day];

			var month= new Array(12);
			month[0] = "January";
			month[1] = "February";
			month[2] = "March";
			month[3] = "April";
			month[4] = "May";
			month[5] = "June";
			month[6] = "July";
			month[7] = "August";
			month[8] = "September";
			month[9] = "October";
			month[10] = "November";
			month[11] = "December";
			mo = month[mo];

			document.getElementById("day").innerHTML = day;
			document.getElementById("month").innerHTML = mo;
			document.getElementById("date").innerHTML = d;

		/*	if (h>12){
				h=h-12
			}

			document.getElementById("h").innerHTML = h;

			document.getElementById("h+1").innerHTML = h + 1;
			if (document.getElementById("h+1").innerHTML > 12){
				document.getElementById("h+1").innerHTML = document.getElementById("h+1").innerHTML-12;
			}

			document.getElementById("h+2").innerHTML = h + 2;
			if (document.getElementById("h+2").innerHTML > 12){
				document.getElementById("h+2").innerHTML = document.getElementById("h+2").innerHTML-12;
			}

			document.getElementById("h+3").innerHTML = h + 3;
			if (document.getElementById("h+3").innerHTML > 12){
				document.getElementById("h+3").innerHTML = document.getElementById("h+3").innerHTML-12;
			}

			document.getElementById("h+4").innerHTML = h + 4;
			if (document.getElementById("h+4").innerHTML > 12){
				document.getElementById("h+4").innerHTML = document.getElementById("h+4").innerHTML-12;
			}

			document.getElementById("h+5").innerHTML = h + 5;
			if (document.getElementById("h+5").innerHTML > 12){
				document.getElementById("h+5").innerHTML = document.getElementById("h+5").innerHTML-12;
			}

			document.getElementById("h+6").innerHTML = h + 6;
			if (document.getElementById("h+6").innerHTML > 12){
				document.getElementById("h+6").innerHTML = document.getElementById("h+6").innerHTML-12;
			}
			
			document.getElementById("h+7").innerHTML = h + 7;

			if (document.getElementById("h+7").innerHTML > 12){
				document.getElementById("h+7").innerHTML = document.getElementById("h+7").innerHTML-12;
			}
			document.getElementById("h+8").innerHTML = h + 8;
			if (document.getElementById("h+8").innerHTML > 12){
				document.getElementById("h+8").innerHTML = document.getElementById("h+8").innerHTML-12;
			}

			var t = setTimeout(time, 500);*/
		}
	</script>


</head>
<body onload="time()" style="padding-bottom:50px">
	<div class="month"> 
  		<ul>
    		<li class="add">
    			<form action="/addevent">
    				<input type="submit" value="+"/>
    			</form>
    		</li>
    		<li id="month"><br></li>
  		</ul>
	</div>
<!--
<div id="dp" height="90%"></div>
<script type="text/javascript">
	var dp = new DayPilot.Calendar("dp");
	dp.viewType = "Day";
	dp.init();
	dp.events.list = [{"id":"1", "text":"Event", "start":"2018-02-14T10:30:00", "end":"2018-02-14T12:30:00"}];
	dp.update();
</script>
-->
<!-- Calendar elements  -->

	<table style="width:100%; height:50%" >
		
		<tr height="100">
			<th style="width:25%">
				<h1 id="day"></h1>
			</th>
			<td style="width:15%">
				<h1 id="date"></h1>
			</td>
			<td style="width:60%">
				<h1 id="date"></h1>
			</td>
		</tr>

		<tr class="zero">
			<th rowspan="4">12AM</th>
			<td>:00</td>
			<td id="0"></td>
		</tr>
		<tr class="quarter"  >
			<td >:15</td>
			<td id="1"></td>
		</tr>
		<tr class="half">
			<td>:30</td>
			<td id="2"></td>
		</tr>
		<tr class="fourfive">
			<td>:45</td>
			<td id="3"></td>
		</tr>

		<tr class="zero" >
			<th rowspan="4">1AM</th>
			<td >:00</td>
			<td id="4"></td>
		</tr>
		<tr class="quarter">
			<td >:15</td>
			<td id="5"></td>
		</tr>
		<tr class="half">
			<td>:30</td>
			<td id="6"></td>
		</tr>
		<tr>
			<td>:45</td>
			<td id="7"></td>
		</tr>

		<tr class="zero">
			<th rowspan="4">2AM</th>
			<td>:00</td>
			<td id="8"></td>
		</tr>
		<tr class="quarter">
			<td>:15</td>
			<td id="9"></td>
		</tr>
		<tr class="half">
			<td>:30</td>
			<td id="10"></td>
		</tr>
		<tr>
			<td>:45</td>
			<td id="11"></td>
		</tr>

		<tr class="zero" >
			<th rowspan="4">3AM</th>
			<td >:00</td>
			<td id="12"></td>
		</tr>
		<tr class="quarter">
			<td >:15</td>
			<td id="13"></td>
		</tr>
		<tr class="half">
			<td>:30</td>
			<td id="14"></td>
		</tr>
		<tr>
			<td>:45</td>
			<td id="15"></td>
		</tr>

		<tr class="zero" >
			<th rowspan="4">4AM</th>
			<td >:00</td>
			<td id="16"></td>
		</tr>
		<tr class="quarter">
			<td >:15</td>
			<td id="17"></td>
		</tr>
		<tr class="half">
			<td>:30</td>
			<td id="18"></td>
		</tr>
		<tr>
			<td>:45</td>
			<td id="19"></td>
		</tr>

		<tr class="zero" >
			<th rowspan="4">5AM</th>
			<td >:00</td>
			<td id="20"></td>
		</tr>
		<tr class="quarter">
			<td >:15</td>
			<td id="21"></td>
		</tr>
		<tr class="half">
			<td>:30</td>
			<td id="22"></td>
		</tr>
		<tr>
			<td>:45</td>
			<td id="23"></td>
		</tr>

		<tr class="zero" >
			<th rowspan="4">6AM</th>
			<td >:00</td>
			<td id="24"></td>
		</tr>
		<tr class="quarter">
			<td >:15</td>
			<td id="25"></td>
		</tr>
		<tr class="half">
			<td>:30</td>
			<td id="26"></td>
		</tr>
		<tr>
			<td>:45</td>
			<td id="27"></td>
		</tr>

		<tr class="zero" >
			<th rowspan="4">7AM</th>
			<td >:00</td>
			<td id="28"></td>
		</tr>
		<tr class="quarter">
			<td >:15</td>
			<td id="29"></td>
		</tr>
		<tr class="half">
			<td>:30</td>
			<td id="30"></td>
		</tr>
		<tr>
			<td>:45</td>
			<td id="31"></td>
		</tr>

		<tr class="zero" >
			<th rowspan="4">8AM</th>
			<td >:00</td>
			<td id="32"></td>
		</tr>
		<tr class="quarter">
			<td >:15</td>
			<td id="33"></td>
		</tr>
		<tr class="half">
			<td>:30</td>
			<td id="34"></td>
		</tr>
		<tr>
			<td>:45</td>
			<td id="35"></td>
		</tr>

		<tr class="zero" >
			<th rowspan="4">9AM</th>
			<td >:00</td>
			<td id="36"></td>
		</tr>
		<tr class="quarter">
			<td >:15</td>
			<td id="37"></td>
		</tr>
		<tr class="half">
			<td>:30</td>
			<td id="38"></td>
		</tr>
		<tr>
			<td>:45</td>
			<td id="39"></td>
		</tr>

		<tr class="zero" >
			<th rowspan="4">10AM</th>
			<td >:00</td>
			<td id="40"></td>
		</tr>
		<tr class="quarter">
			<td >:15</td>
			<td id="41"></td>
		</tr>
		<tr class="half">
			<td>:30</td>
			<td id="42"></td>
		</tr>
		<tr>
			<td>:45</td>
			<td id="43"></td>
		</tr>
	
		<tr class="zero" >
			<th rowspan="4">11AM</th>
			<td >:00</td>
			<td id="44"></td>
		</tr>
		<tr class="quarter">
			<td >:15</td>
			<td id="45"></td>
		</tr>
		<tr class="half">
			<td>:30</td>
			<td id="46"></td>
		</tr>
		<tr>
			<td>:45</td>
			<td id="47"></td>
		</tr>

		<tr class="zero" >
			<th rowspan="4">12PM</th>
			<td >:00</td>
			<td id="48"></td>
		</tr>
		<tr class="quarter">
			<td >:15</td>
			<td id="49"></td>
		</tr>
		<tr class="half">
			<td>:30</td>
			<td id="50"></td>
		</tr>
		<tr>
			<td>:45</td>
			<td id="51"></td>
		</tr>

		<tr class="zero" >
			<th rowspan="4">1PM</th>
			<td >:00</td>
			<td id="52"></td>
		</tr>
		<tr class="quarter">
			<td >:15</td>
			<td id="53"></td>
		</tr>
		<tr class="half">
			<td>:30</td>
			<td id="54"></td>
		</tr>
		<tr>
			<td>:45</td>
			<td id="55"></td>
		</tr>

		<tr class="zero" >
			<th rowspan="4">2PM</th>
			<td >:00</td>
			<td id="56"></td>
		</tr>
		<tr class="quarter">
			<td >:15</td>
			<td id="57"></td>
		</tr>
		<tr class="half">
			<td>:30</td>
			<td id="58"></td>
		</tr>
		<tr>
			<td>:45</td>
			<td id="59"></td>
		</tr>

		<tr class="zero" >
			<th rowspan="4">3PM</th>
			<td >:00</td>
			<td id="60"></td>
		</tr>
		<tr class="quarter">
			<td >:15</td>
			<td id="61"></td>
		</tr>
		<tr class="half">
			<td>:30</td>
			<td id="62"></td>
		</tr>
		<tr>
			<td>:45</td>
			<td id="63"></td>
		</tr>

		<tr class="zero" >
			<th rowspan="4">4PM</th>
			<td >:00</td>
			<td id="64"></td>
		</tr>
		<tr class="quarter">
			<td >:15</td>
			<td id="65"></td>
		</tr>
		<tr class="half">
			<td>:30</td>
			<td id="66"></td>
		</tr>
		<tr>
			<td>:45</td>
			<td id="67"></td>
		</tr>

		<tr class="zero" >
			<th rowspan="4">5PM</th>
			<td >:00</td>
			<td id="68"></td>
		</tr>
		<tr class="quarter">
			<td >:15</td>
			<td id="69"></td>
		</tr>
		<tr class="half">
			<td>:30</td>
			<td id="70"></td>
		</tr>
		<tr>
			<td>:45</td>
			<td id="71"></td>
		</tr>

		<tr class="zero" >
			<th rowspan="4">6PM</th>
			<td >:00</td>
			<td id="72"></td>
		</tr>
		<tr class="quarter">
			<td >:15</td>
			<td id="73"></td>
		</tr>
		<tr class="half">
			<td>:30</td>
			<td id="74"></td>
		</tr>
		<tr>
			<td>:45</td>
			<td id="75"></td>
		</tr>

		<tr class="zero" >
			<th rowspan="4">7PM</th>
			<td >:00</td>
			<td id="76"></td>
		</tr>
		<tr class="quarter">
			<td >:15</td>
			<td id="77"></td>
		</tr>
		<tr class="half">
			<td>:30</td>
			<td id="78"></td>
		</tr>
		<tr>
			<td>:45</td>
			<td id="79"></td>
		</tr>

		<tr class="zero" >
			<th rowspan="4">8PM</th>
			<td >:00</td>
			<td id="80"></td>
		</tr>
		<tr class="quarter">
			<td >:15</td>
			<td id="81"></td>
		</tr>
		<tr class="half">
			<td>:30</td>
			<td id="82"></td>
		</tr>
		<tr>
			<td>:45</td>
			<td id="83"></td>
		</tr>

		<tr class="zero" >
			<th rowspan="4">9PM</th>
			<td >:00</td>
			<td id="84"></td>
		</tr>
		<tr class="quarter">
			<td >:15</td>
			<td id="85"></td>
		</tr>
		<tr class="half">
			<td>:30</td>
			<td id="86"></td>
		</tr>
		<tr>
			<td>:45</td>
			<td id="87"></td>
		</tr>

		<tr class="zero" >
			<th rowspan="4">10PM</th>
			<td >:00</td>
			<td id="88"></td>
		</tr>
		<tr class="quarter">
			<td >:15</td>
			<td id="89"></td>
		</tr>
		<tr class="half">
			<td>:30</td>
			<td id="90"></td>
		</tr>
		<tr>
			<td>:45</td>
			<td id="91"></td>
		</tr>

		<tr class="zero" >
			<th rowspan="4">11PM</th>
			<td >:00</td>
			<td id="92"></td>
		</tr>
		<tr class="quarter">
			<td >:15</td>
			<td id="93"></td>
		</tr>
		<tr class="half">
			<td>:30</td>
			<td id="94"></td>
		</tr>
		<tr>
			<td>:45</td>
			<td id="95"></td>
		</tr>
	</table>  


	{{#each accounts.0.events}}
	<!--	<p>name: {{name}}</p>
		<p>id start: {{timestart}}</p>
		<p>id end: {{timeend}}</p> -->	
		<script>
			console.log("this is the timestart being called in javascript"+ {{timestart}});
			//document.getElementByID({{timestart}}).style.background-color="red";
			
		</script>
	
	{{/each}}




	<div class="navbar">
		<a href="/calendar">Calendar</a>
		<a href="/graph">Your Activity</a>
		<a href="/settings">Settings</a>
		<a href="/login">Logout</a>
	</div>


	<script src="/js/jquery-1.11.0.js"></script>
	<script src="/js/bootstrap.js"></script>
	<script type="text/javascript" src="/js/calendarLoad.js" data={{data}}></script>


	<script type="text/javascript">
		var decodedJson = decodeURIComponent("{{{encodedJson}}}");
		var jsonObj = JSON.parse(decodedJson);
		console.log(jsonObj.accounts[0].events);
		//console.log(jsonObj.accounts);
		//console.log(jsonObj.accounts.0);
		//var localdata = "{{accounts.0.events}}";
		var color = "";
		var eve;
		var x;
		
		for (x in jsonObj.accounts[0].events) {
			eve = jsonObj.accounts[0].events[x];
			console.log(eve);

			document.getElementById((eve.timestart.toString())).innerHTML = eve.name;
			for (var i = eve.timestart; i <= eve.timeend; i++) {
				if(eve.category == "Work")
					color = "blue";
				if(eve.category == "Exercise")
					color = "orange";
				if(eve.category == "Sleep")
					color = "red";
				document.getElementById((i).toString()).style.backgroundColor = color;
			}
		}

	</script>
</body>
</html>
